## Functions

## Input and Print

### User - defined

In [24]:
def tableMultiplication_table_8():
    """
    Purpose: This function displays the first 10 values of the multiplication table for 8.
    Input : None
    Output: Prints the multiplication table for 8
    """
    n = 1
    while n <= 10:
        v = n * 8
        print(n, "x", 8, "=", v)
        n = n + 1

In [25]:
tableMultiplication_table_8()

1 x 8 = 8
2 x 8 = 16
3 x 8 = 24
4 x 8 = 32
5 x 8 = 40
6 x 8 = 48
7 x 8 = 56
8 x 8 = 64
9 x 8 = 72
10 x 8 = 80

In [ ]:
# cool display

def table(base

In [43]:
def square(x):
    """
    This function calculates the square of a given number.
    
    Input: The number x to be squared.
    Output: The square of the input number.

    """

    return x**2

In [44]:
square(8)

64

In [35]:
def area_rectangle(length, width):

    """
  The function calculates the area of a rectangle.
  Input: Two parameter (lenth, width) of a rectangle.
  Output: Area of rectangle

    """
    area = length * width
    print("The area of a rectangle is : ",area)

In [36]:
area_rectangle(2,3)

The area of a rectangle is :  6

In [37]:
 def print_multiples_of_eight():
    """Prints the first 20 multiples of 8."""
    for i in range(1, 21):
        print(f"8 x {i} = {8 * i}")
print_multiples_of_eight()

8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
8 x 10 = 80
8 x 11 = 88
8 x 12 = 96
8 x 13 = 104
8 x 14 = 112
8 x 15 = 120
8 x 16 = 128
8 x 17 = 136
8 x 18 = 144
8 x 19 = 152
8 x 20 = 160

In [38]:
def multiplication_table(n):
    """
    The purpose of this function is to display the multiplication table for a given number `n`.
    Input: n (int) - The number for which the multiplication table will be generated.
    Output: The multiplication table for `n`.
    """
    print(f"Multiplication Table for {n}:")
    print("=" * 25)
    for i in range(1, 21):
        result = i * n
        print(f"{i:2} x {n:2} = {result:3}")
    print("=" * 25)

# Example usage:
multiplication_table(8)

Multiplication Table for 8:
=========================
 1 x  8 =   8
 2 x  8 =  16
 3 x  8 =  24
 4 x  8 =  32
 5 x  8 =  40
 6 x  8 =  48
 7 x  8 =  56
 8 x  8 =  64
 9 x  8 =  72
10 x  8 =  80
11 x  8 =  88
12 x  8 =  96
13 x  8 = 104
14 x  8 = 112
15 x  8 = 120
16 x  8 = 128
17 x  8 = 136
18 x  8 = 144
19 x  8 = 152
20 x  8 = 160
=========================

In [1]:
numbers = [10, 20, 30, 40, 50]

product = 1
for num in numbers:
    product *= num

print("Product of all elements:", product)

Product of all elements: 12000000

In [2]:
numbers = [10, 20, 30, 40, 50]
product = 1
for num in numbers: product *= num
print("Product of all elements:", product)

Product of all elements: 12000000

In [3]:
inventory = {"apple": 5, "banana": 7, "orange": 3}
if inventory.get("banana", 0) >= 7:
    del inventory["banana"]
print(inventory)

{'apple': 5, 'orange': 3}

### Recursive Function

In [3]:
def fact(n):
    if n <= 0:
        return 1
        return n * fact(n-1)

In [8]:
fact(0)

1

In [9]:
def fact(n):
    if n <= 1:
        return 1
        return n * fact(n-1)

In [10]:
fact(-4)

1

In [12]:
fact(-3)

1

In [13]:
fact(-100)

1

### Fabonacci sequence

In [ ]:
F(0) = 0, F(1) = 1, F(n)p = F(n-1) + F(n-1) + F(n -2) for n>=2

In [34]:
def fibo(n):
    if n <= 1:
        return 1
    return n * fibo(n-1) + fibo ( n- 2)

In [35]:
fibo(10)

7489051

In [40]:
def fibo(n):
    if n <= 1:
        return n
    return fibo(n-1) + fibo(n-2)

In [41]:
fibo(0)

0

In [42]:
fibo(1)

1

In [43]:
fibo(2)

1

In [44]:
fibo(10)

55

## Lambda Function

In [52]:
double = lambda x: x * 2
print(double(4))

8

In [55]:
def power (n):
    return lambda x: x**n 

square = power(2)
cube  = power(3)

print(square(4))
print(cube(2))

16
8