In [1]:
my_list = [23, 29, 35]

In [9]:
x = [1, 5, 8, 10, 4, 50, 8, 10, 12, 14, 25] # List consisting only of numbers
y = ["Olivier", "ENGEL", "Strasbourg", "Dr.Elie", "Dr.Esther"] # List consisting only of characters
z = [1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg"] # List consisting of both numbers and characters

In [10]:
print(x,y,z)

[1, 5, 8, 10, 4, 50, 8, 10, 12, 14, 25] ['Olivier', 'ENGEL', 'Strasbourg', 'Dr.Elie', 'Dr.Esther'] [1, 'Olivier', 5, 8, 'ENGEL', 10, 4, 50, 'Strasbourg']

In [11]:
  x = list(range(1, 100))
  print(x)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [13]:
x = (1, 5, 8, 10, 4, 50, 8, 10, 12, 15, 18, 19, 20) 
y = ("Olivier", "ENGEL", "Strasbourg", "BBG", "Belyse", "Alliance", "Muhanzi", "Walter") 
z = (1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg",10, 12, "Dr.Elie", "Mireille")

print(x,y,z)

(1, 5, 8, 10, 4, 50, 8, 10, 12, 15, 18, 19, 20) ('Olivier', 'ENGEL', 'Strasbourg', 'BBG', 'Belyse', 'Alliance', 'Muhanzi', 'Walter') (1, 'Olivier', 5, 8, 'ENGEL', 10, 4, 50, 'Strasbourg', 10, 12, 'Dr.Elie', 'Mireille')

In [16]:
x = {1, 5, 8, 10, 4, 10, 50, 8} 
y = {"Olivier", "ENGEL", "Hirwa", "Elie", "Muhanzi", "Elie"} 
z = {1, "Olivier", 5, 8, "ENGEL", 10, 4, 50, "Strasbourg", 10} 

print(x,y,z)

{1, 50, 4, 5, 8, 10} {'Elie', 'Hirwa', 'ENGEL', 'Muhanzi', 'Olivier'} {1, 4, 5, 8, 10, 'Strasbourg', 50, 'ENGEL', 'Olivier'}

In [17]:
x = {'name': 'Jean', 'weight': 70, 'height': 1.75} 
y = {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.80], 'Pierre': [35, 75, 1.65]} 

print(x,y)

{'name': 'Jean', 'weight': 70, 'height': 1.75} {'Jean': [25, 70, 1.75], 'Paul': [30, 65, 1.8], 'Pierre': [35, 75, 1.65]}

In [19]:
Walter = [-2.0, -1.0, 0.0, 1.0, 2.0]
Yosamu = [-1.0, -0.5, 0.0, 0.5, 1.0]

print(Walter)
print(Yosamu)

[-2.0, -1.0, 0.0, 1.0, 2.0]
[-1.0, -0.5, 0.0, 0.5, 1.0]

In [20]:
print(type(Walter))

<class 'list'>

In [21]:
print(type(Yosamu))

<class 'list'>

In [23]:
help(Walter.sort())

Help on NoneType object:

class NoneType(object)
 |  Methods defined here:
 |
 |  __bool__(self, /)
 |      True if self else False
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __hash__(self, /)
 |      Return hash(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs)
 |      Create and return a new object.  See help(type) for accurate signature.

In [27]:
Yosamu

[-1.0, -0.5, 0.0, 0.5, 1.0]

In [26]:
Yosamu.sort()

In [29]:
a=[5,4,3,7,1]

In [31]:
a.sort()

In [32]:
a

[1, 3, 4, 5, 7]

In [34]:
x = list(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday',"Monday"]) 
print(x)

['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday', 'Monday']

In [36]:
x = set(['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday',"Monday"]) 
print(x)

{'Thursday', 1800, 'Monday', 'Wednesday', 'Tuesday', 20.357, 'Friday'}

In [37]:
v = [2, 4, "orange", "meat", 4, "orange"]
V = set(v)
print(V)

{2, 4, 'meat', 'orange'}

In [39]:
v = [2, 4, "orange", "meat", 4, "orange",2, "meat"]
V = set(v)
print(V)

{2, 4, 'meat', 'orange'}

In [44]:
print("Ell \t ie ")

Ell 	 ie

In [47]:
x = range(10) # Creates a sequence of integer values from 0 to 9
print(list(x))
print 
print('\t')

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [52]:
x = [[1, 2, 3], [2, 3, 4], [3, 4, 5]]
x[1]

[2, 3, 4]

In [51]:
x[0][1]

2

In [53]:
x[2]

[3, 4, 5]

In [54]:
x[2][0]

3

In [55]:
x[2][2]

5

In [56]:
x = ['Monday', 'Tuesday', 'Wednesday', 1800, 20.357, 'Thursday', 'Friday']
print(len(x))

7

In [58]:
x = "NDORIMANA Elie"
print(len(x))

14

In [66]:
x = ['giraffe', 'tiger']
y = ['monkey', 'mouse', 'Elie','Mukamisha']
z = x + y
print(z)

['giraffe', 'tiger', 'monkey', 'mouse', 'Elie', 'Mukamisha']

In [67]:
print(len(x),len(y))

2 4

In [69]:
x = ['giraffe', 24, 18, 'tiger', 2400, 150]
y = x * 10
print(y)

['giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150, 'giraffe', 24, 18, 'tiger', 2400, 150]

In [70]:
print(len(y))

60

In [71]:
x = ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday']
x.append('Saturday')
x.append('Sunday')
print(x)

['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday', 'Sunday']

In [72]:
print(len(x))

7